# Override Linguist language detection for Unity specific files
Assets/* linguist-language=C#
*.cs linguist-language=C#

# Unity specific files
Assets/* linguist-vendored=false
*.shader linguist-vendored=true
*.hlsl linguist-vendored=true
*.hlsl filter=lfs diff=lfs merge=lfs -text
*.shader filter=lfs diff=lfs merge=lfs -text

# Ignore HLSL files
*.hlsl
*.shader
